#about {
  width: 100%;
  height: 650px;
  background-image: linear-gradient(180deg, rgb(102, 14, 129) 11%, #2b1e66 100%);
  padding: 100px 160px;
}

.about-text {
  display: inline-block;
}

.about-text h2 {
  color:#fff;
  font-weight: 500;
  font-size: 1.7rem;
  margin-bottom: 10px;
}

.about-text p {
  color:#fff;
  font-weight: 300;
  line-height: 1.4;
}

.about-text article {
  margin-bottom: 50px;
}

.phone-layers {
  background-image: url("../img/img-lyft/phone.png");
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
  background-size: contain;
  display: inline-block;
  float: right;
}

.art1 {
  width: 400px;
}

.art2 {
  width: 430px;
}

.art3 {
  width: 464px;
}
