footer {
  width: 100%;
  height: 525px;
  background-color: #333447;
  color: #fff;
  padding: 70px 140px;
}

.footer-left, .footer-center, .footer-right{
  display: inline-block;
}

.footer-center {
  margin-left: 150px;
}

.footer-right {
  margin-left: 150px;
}

ul {
  list-style: none;
  line-height: 3;
  font-weight: 300;
}

footer h3 {
  margin-bottom: 15px;
  font-size: 1.3rem;
  font-weight: 400;
}
