#sign-up {
  width: 100%;
  height: 715px;
}

.margin-top {
  margin-top: -100px;
}

#video {
  width: 100%;
}

.register-form-collapse{
  width: 40%;
  height: 430px;
  position: absolute;
  background-color: #fff;
  top: 115px;
  right: 0;
  padding: 65px;
  color: #728099;
}

.register-form-full{
  width: 40%;
  height: 600px;
  position: absolute;
  background-color: #fff;
  top: 115px;
  right: 0;
  padding: 65px;
  color: #728099;
}

#register-form h1 {
  width: 300px;
  color:#352384 !important;
  font-size: 2.6rem;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 10px;
}

#register-form h4 {
  color: #352384 !important;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

#register-form input[type="text"] {
  border: none;
  border-bottom: 1px #728099 solid;
  outline: none;
  font-size: 0.9rem;
  width: 100%;
  margin: 23px 0;
  color: #352384;
}

.form-links {
  margin: 10px 0 20px 0;
}

#submit {
  background-color: #ff00bf;
  border: none;
  color: #fff;
  border-radius: 8px;
  font-size: 1rem;
  padding: 18px 20px;
  margin-right: 20px;
  cursor: pointer;
}

#register-form a {
  color: #728099;
}

#register-form a:hover {
  color: #ff00bf;
}

.small-letters {
  font-size: 0.6rem;
  line-height: 2;
  letter-spacing: 0.3px;
}

.none {
  display: none;
}

fieldset {
  position: relative;
  border: none;s
}

.incorrect input[type="text"] {
  border-bottom: 1px red solid !important;
}

.incorrect .icon-circle-with-cross {
  position: absolute;
  color: red;
  bottom: 24px;
  right: 0;
  display: block;
}
