#sign-up {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -2;
  top: -100px;
}

#video {
  width: 100%;
}

.register-form {
  width: 40%;
  height: 430px;
  position: absolute;
  background-color: #fff;
  top: 200px;
  right: 0;
  padding: 60px;
  color: #728099;
}

.register-form h1 {
  width: 300px;
  color:#352384 !important;
  font-size: 2.6rem;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 10px;
}

.register-form h4 {
  color: #352384 !important;
  font-size: 0.9rem;
}

.register-form input[type="text"] {
  border: none;
  border-bottom: 1px #728099 solid;
  outline: none;
}

#submit {
  background-color: #ff00bf;
  border: none;
  border-radius: 3px;
}
